body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #0a3d2f, #145c43);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTON */
.cta-btn {
  background-color: #ffcc00;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

/* AUTH PAGES */
.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.auth-container input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.link {
  color: #145c43;
  cursor: pointer;
  font-weight: bold;
}